language: erlang
otp_release:
- 17.4
before_install:
    - curl -L -o /tmp/0.5.0_linux_amd64.zip https://dl.bintray.com/mitchellh/consul/0.5.0_linux_amd64.zip
    - unzip /tmp/0.5.0_linux_amd64.zip
    - ./consul agent -config-file consul-test.json > /tmp/consul.log &
script: make test
