[
  {
    conserl,
    [
      {hostname, "127.0.0.1"},
      {port, 8500}
    ]
  },
  {
   sasl,
   [
     {sasl_error_logger, {file, "logs/sasl.log"}}
   ]
 },
 {
   lager,
   [
    {colored, true},
    {async_threshold, 200},
    {async_threshold_window, 5},
    {error_logger_hwm, 500},
    {crash_log, "logs/crash.log"},
    {handlers,
     [
      {lager_console_backend,
       [debug,
        {lager_default_formatter,
         [
          color, time, " [", severity, "]",
          " [", {module, ""}, ":", {function, ""}, ":", {line, ""}, "] ",
          message, "\e[0m\n"
         ]
        }
       ]
      },
      {lager_file_backend, [{file, "logs/error.log"}, {level, error}]},
      {lager_file_backend, [{file, "logs/console.log"}, {level, info}]}
     ]
    }
   ]
 }
].
