%% -*- erlang -*-
{erl_opts, [fail_on_warning, debug_info, {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, [
  {edown, ".*", {git, "https://github.com/esl/edown.git", "HEAD"}},
  {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.1.0"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.5.2"}}}
]}.
{edoc_opts, [{doclet, edown_doclet},
	     {src_path, ["src/"]},
       {top_level_readme, {"./README.md", "https://github.com/gmr/conserl"}},
	     {subpackages, true}]}.
