%% -*- erlang -*-
{erl_opts, [fail_on_warning, debug_info]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
%%{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, [
  {edown, ".*", {git, "https://github.com/esl/edown.git", "HEAD"}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.5.2"}}},
  {shotgun, ".*", {git, "https://github.com/inaka/shotgun.git", {tag, "0.1.6"}}}
]}.
{edoc_opts, [
  {app_default, "http://www.erlang.org/doc/man"},
  {doclet, edown_doclet},
  {image, ""},
  {includes, ["include"]},
  {preprocess, true},
  {stylesheet, ""},
  {title, "conserl"},
  {edown_target, github}
]}.
